<google-map
  height="900px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-circle
    *ngFor="let circle of mapCircles"
    [center]="circle.center"
    [radius]="circle.radius"
    [options]="circle.options"
  ></map-circle>

</google-map>

<button (click)="switchMode('country')">Country</button>
<button (click)="switchMode('exposure')">Exposure</button>
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
<button (click)="logCenter()">Log center</button>
